ul#expList>li {
    display: list-item;
    border: 3px gray solid;
    margin-bottom: 10px;
}

ul#expList>li>div::before {
    content: "⊕ ";
}

ul#expList>li.expanded>div::before {
    content: "⊖ ";
}

li {
    list-style-type: none;
    border-left: 3px transparent solid;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    background-color: white;
}

ul {
    padding-left: 0px;
}

img, video {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: auto;
}

div.caution {
    background-color: yellow;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 100%;
}

#listContainer {
    width: 100%;
    margin: auto;
    max-width: 800px;
    padding: 10px;
}

.info {
    margin-bottom: 10px;
}

li>div {
    flex: 2;
}

li>div.image {
    flex: 1;
}

li>video {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    max-height: 300px;
}

.selected {
    border-left: 3px solid #11244B !important;
    background-color: #F6F6F6
}