ul#expList>li {
    display: list-item;
    border: 3px gray solid;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
    border-left: 3px transparent solid;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    background-color: white;
}

ul {
    padding-left: 0px;
}

img, video {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: auto;
}

div.caution {
    border: black 3px solid;
    background-color: yellow;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#expList {
    flex: 9;
    padding-top: 10px;
}

#end {
    display: inline-block;
    max-width: 500px;
    border-radius: 20px;
    padding: 30px;
    background-color: red;
    color: white;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 45%;
}

#listContainer {
    display: flex;
    margin: auto;
    padding: 10px;
}

.listControl {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
    flex: 1;
    padding: 10px;
}

.listControl>a {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 3px solid #11244B !important;
    text-align: center;
    line-height: 94px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.listControl>a+a {
    margin-top: 50px;
}

.info {
    margin-bottom: 10px;
}

li>div.number {
    flex: 0.25;
    padding-right: 5px;
}

li>div.info {
    flex: 3;
    padding-right: 5px;
}

li>div.image {
    flex: 2;
}

li>video {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 500px;
}

.selected {
    border-left: 3px solid #11244B !important;
    background-color: #D6EAF8
}

.selected>.info {
    font-weight: bold;
}

p[sensortargetreached="1"]::after {
    border-radius: 10px;
    padding: 5px;
    content: 'Complete';
    background-color: lightgreen;
}

p[sensortargetreached="0"]::after {
    border-radius: 10px;
    padding: 5px;
    content: 'Incomplete';
    background-color: lightgrey;
}